
<section aria-label="breadcrumb" style="position:fixed;width:25%">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="" asp-action="">Home</a></li>
        <li class="breadcrumb-item"><a asp-controller="" asp-action=""></a></li>
        <li class="breadcrumb-item active" aria-current="page">Details</li>
    </ol>
</section>